#!/usr/bin/env sh

BUILDNUMBER=$((BUILDNUMBER + 1))
export BUILDNUMBER=$BUILDNUMBER
aws ssm put-parameter --name "/${projectroot}/codebuild/${name}/buildnumber" --type "String" --value $BUILDNUMBER --overwrite
export BUILDVERSION=$MAJOR.$MINOR.$BUILDNUMBER
